<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Time Display</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h2>The current time and date:</h2>
        <div>
            <h1>@ViewBag.Time.ToString("dddd, MMMM dd yyyy h:mm:ss ")</h1>
        </div>
        

    </body>

</html>